<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Резюме Турубанова Константина</title>
    <link rel="stylesheet" href="/static/css/styles_header.css"/>
    <link rel="stylesheet" href="/static/css/styles_footer.css"/>

</head>
<body>

<header>
<div class='all_boxes_header'>
    <div class='box_1'>
        <a href=""><p>Желания</p></a>
    </div>
    <div class='box_2'>
        <a href=""><p>Опыт</p></a>
    </div>
    <div class='box_3'>
        <a href=""><p>Навыки</p></a>
    </div>
    <div class='box_4'>
        <a href=""><p>Делаем радужное фото :)</p></a>
    </div>

</div>

</header>

<main>
<div class='all_boxes_main'>
    <p>Резюме в разработке</p>
</div>

</main>

<footer>
    <div class='all_boxes_footer'>
        <a href="https://t.me/emperor_konstantin"><p class="telegram_info">Мой телеграм</p></a>
        <p class="email_info">Также отвечаю на <strong>konstantin.turubanov@gmail.com</strong></p>
    </div>

</footer>


</body>
</html>